# Flutter-related
**/Flutter/ephemeral/
**/Flutter/GeneratedPluginRegistrant.swift

# CocoaPods (generated at build time by Flutter for non-SPM plugins)
Podfile
Podfile.lock
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/
