name: app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.8.0 <4.0.0'

dependencies:
  dio: ^5.4.1
  equatable: ^2.0.5
  firebase_analytics: ^12.0.4
  firebase_core: ^4.2.1
  firebase_remote_config: ^6.1.1
  flutter:
    sdk: flutter
  flutter_dotenv: ^6.0.0
  get_it: ^9.0.5
  go_router: ^17.0.0
  json_annotation: ^4.9.0
  package_info_plus: ^8.0.0
  retrofit: ^4.1.0
  rxdart: ^0.28.0
  url_launcher: ^6.2.6
  shared_preferences: ^2.2.3
  logger: ^2.2.0
  path_provider: ^2.1.3
  share_plus: ^11.1.0
  alice: ^1.0.0
  alice_dio: ^1.0.7
  flutter_localizations:
    sdk: flutter
  intl: any
  bugsee_flutter: ^8.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  package_rename: ^1.5.3
  build_runner: ^2.4.8
  retrofit_generator: ^10.0.0
  json_serializable: ^6.9.3
  mockito: ^5.4.4
  custom_lint:
  mvvm_lints:
    path: ../mvvm_lints


flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/openSourceSoftwareLicenses.json
    - assets/fonts/guillon_black.ttf
    - assets/fonts/guillon_bold.ttf
    - assets/fonts/guillon_light.ttf
    - assets/fonts/guillon_regular.ttf
    - assets/fonts/guillon_semibold.ttf
    - .env.dev
    - .env.staging
    - .env.prod

  fonts:
    - family: Guillon
      fonts:
        - asset: assets/fonts/guillon_light.ttf
          weight: 300
        - asset: assets/fonts/guillon_regular.ttf
          weight: 400
        - asset: assets/fonts/guillon_semibold.ttf
          weight: 600
        - asset: assets/fonts/guillon_bold.ttf
          weight: 700
        - asset: assets/fonts/guillon_black.ttf
          weight: 900
