name: app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.4.0 <4.0.0'

dependencies:
  dio: ^5.4.1
  equatable: ^2.0.5
  firebase_analytics: ^10.10.4
  firebase_core: ^2.30.1
  firebase_remote_config: ^4.4.4
  flutter:
    sdk: flutter
  flutter_dotenv: ^5.1.0
  flutter_riverpod: ^2.5.1
  get_it: ^7.6.7
  go_router: ^14.0.0
  json_annotation: ^4.9.0
  package_info_plus: ^8.0.0
  retrofit: ^4.1.0
  rxdart: ^0.27.7
  url_launcher: ^6.2.6
  shared_preferences: ^2.2.3
  logger: ^2.2.0
  path_provider: ^2.1.3
  share_plus: ^9.0.0
  alice: ^0.4.1
  flutter_localizations:
    sdk: flutter
  intl: any
  bugsee_flutter: ^8.4.0

# This is required with alice installed unless this PR is merged https://github.com/jhomlala/alice/pull/171
dependency_overrides:
  share_plus: ^9.0.0
  package_info_plus: ^8.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  package_rename: ^1.5.3
  build_runner: ^2.4.8
  retrofit_generator: ^8.1.0
  json_serializable: ^6.7.1
  mockito: ^5.4.4

flutter:
  uses-material-design: true

  assets:
    - assets/openSourceSoftwareLicenses.json
    - .env.dev
    - .env.staging
    - .env.prod
    - .bugsee.dev
